pytest==7.4.3
pytest-cov==4.1.0
matplotlib==3.8.2
tabulate==0.9.0
markdown==3.5.1
reportlab==4.0.4  # For PDF generation
cryptography==41.0.1  # For SSL
typing-extensions==4.7.1  # For static typing
mypy==1.5.1  # For static type checking
pylint>=2.17.0
black>=23.0.0
flake8==6.1.0
python-dotenv==1.0.0 